p {
    font-family: "Pokemon Solid", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    color: #ffcc00;
    text-shadow: 1.5px 1.5px black;
    background-color: #0a285f;
    height: 70px;
    text-align: center;
    padding-top: 5px;
}

.cardPic{
    padding-left: 20%;
    padding-bottom: 5px;

}