.nav-title { 
  letter-spacing: 4px;
  font-family: "Pokemon Solid", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #ffcc00;
  background-color: #0a285f;
  text-shadow: 1.5px 1.5px black;
  padding-top: 10px;
  padding-left: 65px;
  margin: 0;
}
