.container {
  padding-top: 25px;
  padding-bottom: 0px;
}
.mycards {
  font-size: 30px;
  letter-spacing: 3px;
  color: #FB1B1B;
  text-shadow: 1.5px 1.5px black;
  font-family: "Pokemon Solid", sans-serif;
  padding-top: 25px;
}
