.pokeball {
  display: block;
  width: 48px;
  height: 48px;
  background: radial-gradient(
      white 4px,
      black 4.25px 4.5px,
      white 4.75px 6px,
      black 6.25px 8px,
      transparent 8.25px
    ),
    linear-gradient(
      to bottom,
      red 0 20px,
      black 20.25px 24px,
      white 24.25px 25%
    );
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: inset -4px -2px 0 0 rgba(0, 0, 0, 0.2);
}
