
   .pokeball {
    position: absolute;
    top: 50%; /* Position the Pokeball in the center of the circle */
    left: 50%; /* Position the Pokeball in the center of the circle */
    transform: translate(-50%, -50%); /* Centering the Pokeball */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 60px;
    height: 60px;
    background: radial-gradient(
      white 5px,
      black 5.25px 5.5px,
      white 5.75px 7.5px,
      black 7.75px 10px,
      transparent 10.25px
      ),
      linear-gradient(
        to bottom,
        red 0 25px,
        black 25.25px 30px,
        white 30.25px 31.25%
      );
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: inset -5px -2.5px 0 0 rgba(0, 0, 0, 0.2);
  }
  
  .pokeball-container {
    position: fixed;
    top: 85px; /* Adjust this value to position the circle vertically */
    left: 39%; /* Adjust this value to position the circle horizontally */
    width: 75px; /* Twice the pokeball's width */
    height: 75px; /* Twice the pokeball's height */
    border-radius: 50%; /* Making it a circle */
    background-color: #0a285f; /* Setting the blue backdrop */
  }
  