.container {
    padding-top: 25px;
  }
  .archived {
    font-size: 30px;
    color: #FB1B1B;
    text-shadow: 1.5px 1.5px black;
    font-family: "Pokemon Solid", sans-serif;
    padding-top: 25px;
  }
  