.container {
    padding-top: 25px;
  }
  .archived {
    font-size: 30px;
    letter-spacing: 3px;
    color: #FB1B1B;
    text-shadow: 1.5px 1.5px black;
    font-family: "Pokemon Solid", sans-serif;
    padding-top: 25px;
  }
  
  .buttons-arch {
    padding-left: 90px;
    padding-top: 0px;
  }
  
  .button-arch {
      font-family: "Pokemon Solid", sans-serif;
      background-color: #0a285f;
      border: 2px solid #ffcc00;
      border-radius: 30px;
      box-shadow: black 4px 4px 0 0;
      color: #ffcc00;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      /* change to adjust button size: 
      font-size: 20px; 
      padding: 0 18px 
      line-height: 50px */
      font-size: 20px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-right: 10px;
    }
    
    .button-arch:hover {
      background-color: #0a285f;
    }
    
    .button-arch:active {
      box-shadow: #0a285f 2px 2px 0 0;
      transform: translate(2px, 2px);
    }