/* flex box layout */
.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  background-color: #0a285f;
  overflow: hidden;
  margin-top: 50px;
  padding-top: 10px;
}

.nav a {
  text-decoration: none;
}

.navLink {
  font-family: "Pokemon Solid", sans-serif;
  text-shadow: 1.5px 1.5px black;
  color: #ffcc00;
  background-color: #0a285f;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
  margin-bottom: 5px;
}
