/* flex box layout */
.nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  background-color: #0a285f;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.navLink {
  font-family: "Pokemon Solid", sans-serif;
  color: #ffcc00;
  background-color: #0a285f;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 16px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

